<!-- Favorites -->
<mat-card class="mat-elevation-z0">
  <mat-card-content>
    <h3>Alex's Blend</h3>
    <p>Check-out the latest Christmas blend, it has a warm, woody, cinnamon toast flavor that'll warm up your night and get you excited for the season!</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Add Item</button>
    <button mat-button [routerLink]="['/123456']">View Detail</button>
    <button mat-button>Remove</button>
  </mat-card-actions>
</mat-card>
<mat-divider></mat-divider>