<mat-card class="mat-elevation-z0">
  <!-- <img
    mat-card-image 
    [src]="image"
    [alt]="altText"> -->
  <mat-card-content
    [routerLink]="['/product', id]">
    <h3>{{title}}</h3>
    <p>{{description}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-icon-button
      (click)='onAddToCartClick(true)'
      color="primary"
      *ngIf='showAddToCart'>
      <mat-icon>add</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)='onRemoveFromCartClick(true)'
      color="warn"
      *ngIf='showRemoveFromCart'>
      <mat-icon>remove</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)='onToggleFavoriteClick(true)'
      color="primary"
      *ngIf='showFavorite'>
      <mat-icon>favorite</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
<mat-divider></mat-divider>