<mat-toolbar class="header">
    <span></span>
    <span></span>
    <span>
      <button mat-icon-button [routerLink]="['/']">
        <mat-icon>close</mat-icon>
      </button>
    </span>
  </mat-toolbar>
  
  <mat-card class="mat-elevation-z0">
      <h1>Create New Password</h1>
      <p>Enter the verification code sent to your phone number and create your new password.</p>
  
    <app-reset-password-form (submitted)='submit($event)'></app-reset-password-form>
  
  </mat-card>
  
  <div class="footer">
    <mat-card class="mat-elevation-z0">
      <p><a [routerLink]="['/login']">Back to Log In</a></p>
    </mat-card>
  </div>