
<app-blend-summary
  [blend]='blend$ | async'
  [showCreateDate]='false'>
</app-blend-summary>

<mat-card class="mat-elevation-z0">
  <mat-card-subtitle>Brewing Guide</mat-card-subtitle>
  <mat-grid-list cols="2" rowHeight="50px">
    <mat-grid-tile
        [colspan]="1"
        [rowspan]="1">
      <p>2 min</p>
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="1"
        [rowspan]="1">
      <p>160 F</p>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
<mat-divider></mat-divider>

<app-select-size-card
  [blend]='blend$ | async'
  (selected)='onSizeSelect($event)'>
</app-select-size-card>

<mat-card class="mat-elevation-z0">
  <mat-card-subtitle>Base Ingredient</mat-card-subtitle>
  <p><strong>Organic Pure-leaf Yerba Mate</strong></p>
</mat-card>
<mat-divider></mat-divider>

<mat-card class="mat-elevation-z0">
    <mat-card-content>
      <mat-card-subtitle>Active Ingredients</mat-card-subtitle>
      <h3>Sage Leaf</h3>
      <p><strong>Possibly effective for:</strong> Alzheimer's disease. Mental performance. High cholesterol. Memory. Menopausal symptoms.</p>
      <p><strong>Flavor Profile:</strong> Aromatic. Bitter. Fragrant. Savory.</p>
    </mat-card-content>
    <mat-card-actions>
      <!-- <button mat-stroked-button color="primary">Add Ingredient</button> -->
    </mat-card-actions>
  </mat-card>
  <mat-divider></mat-divider>

<mat-card class="mat-elevation-z0">
    <mat-card-content>
      <mat-card-subtitle>Flavor Ingredients</mat-card-subtitle>
      <h3>Rosemary Leaf</h3>
      <p><strong>Flavor Profile:</strong> Peppery. Piney. Pungent. Woody.</p>
    </mat-card-content>
    <mat-card-actions>
      <!-- <button mat-stroked-button color="primary">Add Ingredient</button> -->
    </mat-card-actions>
  </mat-card>
  <mat-divider></mat-divider>