<div class="header">
    <mat-toolbar>
        <span><button mat-button routerLink="/">Cancel</button></span>
        <span>New Photo</span>
        <span>
        <button mat-button (click)="submitted.emit(this.form.value)">Save</button>
        </span>
    </mat-toolbar>
</div>

<div class="padding">
  <form [formGroup]="form" class="list">
      <mat-form-field>
          <textarea
            rows="5"
            matInput
            placeholder="Write a caption..."
            formControlName="caption">
            </textarea>
        </mat-form-field>

        <mat-form-field>
            <input
            matInput
            (click)="show.emit(true)"
            placeholder="Add Location"
            formControlName="locationName">
            <button mat-button matSuffix mat-icon-button>
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <mat-chip-list>
          <mat-chip (click)="selectedLocation.emit(location)" *ngFor="let location of locations">
            {{location.name}}
          </mat-chip>
        </mat-chip-list>
  </form>
</div>