<div class="header">
  <mat-toolbar>
    <span></span>
    <span>Orders</span>
    <span>
      <button
        mat-icon-button
        [routerLink]="['/']">
        <mat-icon>close</mat-icon>
      </button>
    </span>
  </mat-toolbar>
</div>

<mat-tab-group mat-stretch-tabs>
  
  <mat-tab label="Featured">
      <app-featured-products
        *ngFor="let product of products$ | async"
        [product]='product'>
        <!-- Featured Blends -->
      </app-featured-products>
  </mat-tab>
  <mat-tab label="Create">
      <app-create-blends>
        <!-- Create Blends -->
      </app-create-blends>
  </mat-tab>
  <mat-tab label="Favorites">
      <app-favorite-blends>
        <!-- Favorite Blends -->
      </app-favorite-blends>
  </mat-tab>
  <mat-tab label="Previous">
      <app-previous-blends>
        <!-- Previous Blends -->
      </app-previous-blends>
  </mat-tab>

</mat-tab-group>