<mat-toolbar class="header">
  <span></span>
  <span></span>
  <span>
    <button mat-icon-button [routerLink]="['/']">
      <mat-icon>close</mat-icon>
    </button>
  </span>
</mat-toolbar>

<mat-card class="mat-elevation-z0">
  <h1>Trouble logging in?</h1>
  <p>Enter your email address and we'll send you a verification code to create your new password.</p>

  <app-email-form (submitted)='submit($event)'></app-email-form>

</mat-card>

<div class="footer">
  <mat-card class="mat-elevation-z0">
    <p><a [routerLink]="['/login']">Back to Log In</a></p>
  </mat-card>
</div>