<mat-toolbar class="header">
  <span></span>
  <span></span>
  <span></span>
</mat-toolbar>

<mat-card class="mat-elevation-z0">
  <h1>Welcome!</h1>
  <p><strong>Please verify your account by clicking on the link sent to your email.</strong></p>
  <p>Once your account has been verified, we'll start syncing your journal so they can be accessed from all your devices.</p>
    <a [routerLink]="['/login']" class="list">
      <button
        mat-raised-button
        color="primary"
        class="mat-elevation-z0">
        OK
      </button>
    </a>
</mat-card>

<div class="footer">
  <mat-card class="mat-elevation-z0">
    <p>Already have an account? <a [routerLink]="['/login']">Sign In</a></p>
  </mat-card>
</div>