<div class="header">
  <mat-toolbar>
    <span></span>
    <span>Ingredients</span>
    <span>
      <button mat-icon-button [routerLink]="['/products']">
        <mat-icon>close</mat-icon>
      </button>
    </span>
  </mat-toolbar>
</div>

<!-- <mat-card class="mat-elevation-z0">
    <mat-chip-list>
      <mat-chip>Mental Performance</mat-chip>
      <mat-chip>High cholesterol</mat-chip>
      <mat-chip>Alzheimer's Disease</mat-chip>
      <mat-chip>Digestive Health</mat-chip>
    </mat-chip-list>
</mat-card>
<mat-divider></mat-divider> -->

<app-ingredient
  *ngFor="let ingredient of ingredients$ | async"
  [ingredient]='ingredient'
  [selected]='selectedIngredients$ | async'
  (onIngredientCheck)='onCheck($event)'>
</app-ingredient>

<div class="fab">
  <button
  class="mat-elevation-z0"
  mat-fab
  color="primary"
  [disabled]='selectedIngredients.length == 0'
  (click)="onSubmit(true)">
    <mat-icon>check</mat-icon>
  </button>
</div>