  <!-- Create -->
  <mat-card class="mat-elevation-z0">
      <mat-card-content>
          <h2>Select your ingredients</h2>
      </mat-card-content>
    </mat-card>
    
    <mat-card class="mat-elevation-z0">
      <mat-card-content>
        <p><strong>Organic Pure-Leaf Yerba Mate</strong></p>
        <p>Our Yerba Mate is produced by drying leaf of the Yerba Mate plant grown in Argentina.</p>
      </mat-card-content>
    </mat-card>
    <mat-divider></mat-divider>
    
    <mat-card
      class="mat-elevation-z0"
      [routerLink]="['/ingredient-list']">
        <mat-card-content>
          <p><strong>Functional Ingredients</strong></p>
          <p>Select your ingredient</p>
        </mat-card-content>
      </mat-card>
      <mat-divider></mat-divider>
    
    <mat-card
      class="mat-elevation-z0"
      [routerLink]="['/ingredient-list']">
      <mat-card-content>
        <p><strong>Flavor Ingredients</strong></p>
        <p>Select your ingredient</p>
      </mat-card-content>
    </mat-card>
    <mat-divider></mat-divider>
    
    <mat-card class="mat-elevation-z0">
      <mat-card-content>
        <p><strong>Select Size</strong></p>
        <mat-chip-list>
          <mat-chip>Sample</mat-chip>
          <mat-chip>4 oz</mat-chip>
          <mat-chip>16 oz</mat-chip>
        </mat-chip-list>
      </mat-card-content>
    </mat-card>
    <mat-divider></mat-divider>
    
    <mat-card class="mat-elevation-z0">
        <button class="fab-button" mat-flat-button color="primary">Add Item</button>
    </mat-card>