<mat-card class="mat-elevation-z0">
  <mat-card-content>
    <!-- <mat-card-subtitle>Active Ingredients</mat-card-subtitle> -->
    <h3>{{name}}</h3>
    <p *ngIf='effects'><strong>Possibly effective for: </strong>
      <span
        *ngFor="let effect of effects">
        {{effect}}
      </span>
    </p>
    <p *ngIf='flavors'>
      <strong>Flavor Profile: </strong>
      <span
        *ngFor="let flavor of flavors">
        {{flavor}}
      </span>
    </p>
    <mat-checkbox
      color="primary"
      *ngIf='showAddIngredient'
      [checked]='isChecked'
      (change)='onCheck($event)'>
      Add Ingredient
    </mat-checkbox>
  </mat-card-content>
</mat-card>
<mat-divider></mat-divider>