<router-outlet></router-outlet>

<app-fab>
    <app-fab-item
        [show]='showAddCartButton$ | async'
        (clicked)='addToCart($event)'
        hideBadge='true'
        icon='add'>
    </app-fab-item>
    <app-fab-item
        [show]='showCartButton$ | async'
        (clicked)='showCart($event)'
        [badgeCount]='lineItems.length'
        icon='shopping_cart'>
    </app-fab-item>
    <app-fab-item
        [show]='showCheckoutButton$ | async'
        (clicked)='checkOut($event)'
        hideBadge='true'
        icon='arrow_forward_ios'>
    </app-fab-item>
</app-fab>

<app-layout>
    <app-footer [show]="showFooter$ | async">
        <app-footer-item
            routerlink='/'
            icon='home'>
        </app-footer-item>
        <app-footer-item
            routerlink='/products'
            icon='store'>
        </app-footer-item>
        <app-footer-item
            *ngIf='isLoggedIn$ | async'
            routerlink='/account'
            icon='person'>
        </app-footer-item>
        <app-footer-item
            *ngIf='!(isLoggedIn$ | async)'
            routerlink='/login'
            icon='person'>
        </app-footer-item>
    </app-footer>
</app-layout>

<app-cart
    *ngIf='showCart$ | async'
    [lineItems]='lineItems'>
</app-cart>