
<app-product-detail-summary
  [product]='product$ | async'
  [showCreateDate]='false'>
</app-product-detail-summary>

<app-product-detail-brewing-guide
  [product]='lambdaProduct$ | async'>
</app-product-detail-brewing-guide>

<app-select-variant
  [product]='product$ | async'
  (selected)='onSizeSelect($event)'>
</app-select-variant>

<mat-card class="mat-elevation-z0">
  <mat-card-subtitle>Base Ingredient</mat-card-subtitle>
  <p><strong>Organic Pure-leaf Yerba Mate</strong></p>
</mat-card>
<mat-divider></mat-divider>

<app-product-detail-ingredients
  *ngFor="let ingredient of (lambdaProduct$ | async).Ingredients"
  [ingredient]='ingredient'>
</app-product-detail-ingredients>

<!-- <mat-card class="mat-elevation-z0">
    <mat-card-content>
      <mat-card-subtitle>Active Ingredients</mat-card-subtitle>
      <h3>Sage Leaf</h3>
      <p><strong>Possibly effective for:</strong> Alzheimer's disease. Mental performance. High cholesterol. Memory. Menopausal symptoms.</p>
      <p><strong>Flavor Profile:</strong> Aromatic. Bitter. Fragrant. Savory.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="primary">Add Ingredient</button>
    </mat-card-actions>
  </mat-card>
  <mat-divider></mat-divider>

<mat-card class="mat-elevation-z0">
    <mat-card-content>
      <mat-card-subtitle>Flavor Ingredients</mat-card-subtitle>
      <h3>Rosemary Leaf</h3>
      <p><strong>Flavor Profile:</strong> Peppery. Piney. Pungent. Woody.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="primary">Add Ingredient</button>
    </mat-card-actions>
  </mat-card>
  <mat-divider></mat-divider> -->