<form class="list" [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field>
      <input
        name="password"
        formControlName="password"
        matInput
        placeholder="New Password (at least 6 characters)"
        type="password">
    </mat-form-field>
    <mat-form-field>
      <input
        name="confirmPassword"
        formControlName="confirmPassword"
        matInput
        placeholder="Confirm Password"
        type="password">
      <mat-error
        *ngIf="form.errors?.mismatch && (form.touched || form.dirty)">
        Password doesn't match
      </mat-error>
    </mat-form-field><br>
    <button
      mat-raised-button
      color="primary"
      class="mat-elevation-z0"
      [disabled]='!form.valid'>
      Create
    </button>
  </form>