<!-- Entry Detail -->
<mat-card class="mat-elevation-z0 my-entries-card">
  <mat-card-title-group>
    <mat-card-title [routerLink]="['', id]">{{title}}</mat-card-title>
    <mat-card-subtitle>
      <span *ngIf="createdAt">Created {{createdAt | date:'mediumDate' }}</span>
    </mat-card-subtitle>
    <img
      mat-card-sm-image
      *ngIf="$thumbnail | async"
      [routerLink]="['', id]"
      [src]="domSanitizer.bypassSecurityTrustUrl( $thumbnail | async | blob )">
  </mat-card-title-group>
</mat-card>
<mat-divider></mat-divider>